$primary: #f6f930;
$secondary: #2f2f2f;
$tertiary: #d2f898;
$light: #fcfcfc;
$dark: #000000;


$nav-link-color: #f6f930; 


@import "components/calculator"; 
@import "components/header";
@import "bootstrap/bootstrap.scss";




